<!-- Kory Erdmann -->
<head>
  <link rel="stylesheet" href="static/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<ul class="navbar">
  <div class="navlinks">
  <li><a href="/">Home</a></li>
  <div class="dropdown">
    <button class="dropbtn">Queries
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </button>
    <div class="dropdown-content">
      <a href="grocery_prox_county">Grocery Proximity</a>
      <a href="SNAP_avg_compare">Snap Average</a>
      <a href="corr">Diabetes Correlations</a>
      <a href="USA_LI_compare">USA LI</a>
    </div>
  </div>
  <li><a href="map">Map</a></li>
  <li><a href="history">History</a></li>
  <li><a href="logout">Log Out</a></li>
  </div>
  </div>
</ul>