<!-- Austin Steger 3/10/22 WIP -->
<!DOCTYPE html>
<html>

<head>
  <title>USA LI</title>
  <link rel="stylesheet" href="static/css/style.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
  <link rel="manifest" href="static/site.webmanifest">
</head>

<body>
  {% include 'header.html' %}
  <div class="main">
    <h2>Low Income Grocery Query</h2>
    <p>Author: Austin Steger, 4/21/2022</p>

    <p>Enter a state and compare the number of low income people who live greater than one mile from a grocery store to
      the state average in the US.</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p id="error">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="/USA_LI_compare" method="post">
      <input type="text" id="fname" name="sta" placeholder="State" value="{{sta}}"><br>
      <input class="executebutton" type="submit" value="Create Chart">
    </form>


    <h2>Table</h2>

    <div id="table_div"></div>

    <script>
      google.charts.load('current', { 'packages': ['table'] });
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = google.visualization.arrayToDataTable([
          ["state", "low income people who live more then one mile from a grocery store"],
          {% for row in data %}
      ["{{ row[0] }}", {{ row[1] }}],
        {% endfor %}
              
        
      ]);

      var options = {
        showRowNumber: false,
      };

      var table = new google.visualization.Table(document.getElementById('table_div'));
      table.draw(data, options);
    }
    </script>

    <h2>Chart</h2>
    <div class="chart" id="chart_div" style="width: 800px; height: 300px;"></div>

    <script>
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["state", "low income people who live more then one mile from a grocery store"],
          {% for row in data %}
            ["{{ row[0] }}", {{ row[1] }}],
          {% endfor %}
        ]);

      var options = {
        chartArea: { width: '70%', height: '90%' },
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    </script>
  </div>
</body>

</html>